---
import BaseHead from "../components/BaseHead.astro";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage, tags },
} = Astro.props;
---

<BaseHead title={title} description={description} />
<BaseLayout>
  <style>
    hr {
      border-top: 1px solid #ddd;
      margin: 1rem 0;
    }
  </style>

  <main class="flex-none content-center pt-8">
    <article class="container m-auto">
      {
        heroImage && (
          <img width={720} height={360} src={heroImage} alt="" class="m-auto" />
        )
      }
      <h1 class="text-4xl py-5">{title}</h1>
      {pubDate && <time class="italic">{pubDate}</time>}
      {
        updatedDate && (
          <div>
            Last updated on <time>{updatedDate}</time>
          </div>
        )
      }
      <hr />
      <slot />
      <div class="pt-4">
        {
          tags && tags.length > 0 && (
            <div>
              <span class="">Tags:</span>
              <ul class="list-none inline-flex pl-0 italic text-sm">
                {tags.map((t) => (
                  <li class="float-left pl-4">{t}</li>
                ))}
              </ul>
            </div>
          )
        }
      </div>
    </article>
  </main>
</BaseLayout>
